.card-list-display{
    padding-top: 100px;
}
.card-list-display h3{
    margin-bottom: 55px;
}
.card-list-display .card-item {
    perspective: 1500px;
    padding-top: 40px;
    padding-bottom: 75px;
}
.card-list-display .card-item .rotate {
    position: relative;
    box-shadow: 0 3px 7px rgb(0 0 0 / 10%);
    transform-style: preserve-3d;
    border-radius: 3px;
    transition: 0.8s;
}
.card-list-display .card-item:hover .rotate {
    transform: rotateY(180deg);
}
.card-list-display  .card-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    backface-visibility: hidden;
}
.card-list-display .card-item .overlay .min-info {
    position: absolute;
    text-align: center;
    bottom: -90px;
    left: 0;
    width: 100%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-list-display .card-item:hover .rotate .min-info {
    bottom: 0;
}
.card-item .overlay .min-info h4 {
    color: #fdfdfd;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
}
.card-item .overlay .min-info p {
    color: #ffffff;
    margin-bottom: 0;
}
.card-item .overlay .overlay-img-wrap {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-item .overlay .overlay-img-wrap img {
    min-height: 100%;
    min-width: 100%;
}
.card-list-display .card-item .card-back-info{
    transform: rotateY(180deg);
    padding: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fdfdfd;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-list-display .card-item .top-card-data{
    display: flex;
}
.card-list-display .card-item .top-card-data .main-info{
    width: calc(100% - 75px);
}
.card-list-display .card-item .top-card-data .main-info h4{
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    color: #373737;
}
.card-list-display .card-item .top-card-data .main-info p a{
    font-weight: 600;
    color: #373737;
    line-height: 20px;
}
.card-list-display .card-item .top-card-data .main-info p a:hover{
    text-decoration: underline;
}
.card-list-display .card-item .top-card-data .rating{
    width: 75px;
}
.card-list-display .card-item .top-card-data .rating span{
    display: block;
    font-weight: 900;
    font-size: 26px;
    color: #373737;
    text-align: right;
    line-height: 26px;
    background: url(../../static/star.svg) top right 42px no-repeat;
}
.card-list-display .card-item .top-card-data .rating a{
    color: #373737;
    font-size: 14px;
    display: block;
    text-align: right;
    margin-top: 2px;
}
.card-list-display .card-item .top-card-data .rating a:hover{
    /*text-shadow: 0 1px 2px rgba(0,0,0,0.2);*/
    text-decoration: underline;
}
.card-list-display .card-item .last-card-data .location{
    font-weight: 600;
    font-size: 14px;
    color: #373737;
    margin-bottom: 10px;
}
.card-list-display .card-item .last-card-data .location a{
    color: #373737;
    font-weight: 400;
}
.card-list-display .card-item .last-card-data .location a:hover{
    text-decoration: underline;
}
.card-list-display .card-item .last-card-data .price{
    font-weight: 900;
    color: #373737;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 35px;
}
.card-list-display .card-item .theme-btn{
    width: 100%;
}
.card-list-display .card-item .card-more{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
