.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.header.navbar {
    position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header.fixed {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 7%);
}
.top-menu a {
    margin: 0 15px;
    transition: 0.1s;
}
.top-menu .active, .top-menu a:hover {
    font-weight: 900;
}
.top-menu a:first-child:hover {
    font-weight: 900;
    padding-left: 0.45rem !important;
}
.navbar-light .top-menu.navbar-nav .nav-link{
    color: #373737;
}